.strike{
    text-decoration: line-through;
}
input[type="text"]:disabled {
    border: none;
	 height: 40px;	
	 background-color: white;
	 font-size: 22px;
}
input[type="checkbox"]{
	width: 19px;
    height: 12px;
}
.hide{
    display: none;
}
#main{
    width: 500px;
    border-width: 2px;
    border-style: solid;
    height: 470px;
}
ul{
	    list-style-type: none;
}
#addBtn,button{
	border: 2px solid #e4d9d9;
    border-radius: 6px;
    width: 50px;
    height: 30px;
    background-color: white
}
#itemInput{
	width: 300px;
	    height: 20px;
		 float: left;
		 margin-left:5px;
		 -moz-border-radius: 7px;
 border-radius: 7px;
    border:solid 1px black;
    padding:5px;
}

hr { 
       border-width: 2px;
	   color:#333;
	   background-color:#333;
}
h4{
	text-align: center;
}
