.titleSection, .input_box, .todo_boxes {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.titleName {
    width: auto;
    height: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}

.titleUnderline {
    width: 460px;
    height: 1px;
    background-color: black;
}

.add_box {
    width: 400px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 4px;

}

.todo_box, .completed_box {
    width: 350px;
    height: 30px;
}

.strike-text {
    text-decoration: line-through;
}

.transparent_box {
    border: none;
    border-color: transparent;
}

.button {
    width: auto;
    height: auto;
    text-align: center;
    color: gray;
    padding: 0 5px;
    display: inline-block;
    vertical-align: text-bottom;
    cursor: pointer;
    font-size: 15px;
}